<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrdersCustomMapper">
    <!-- 查询订单关联查询用户信息 -->
    <select id="findOrdersUser" resultType="com.mybatis.entity.OrdersCustom">
		SELECT orders.*,USER.username,USER.sex,USER.address
		FROM orders,USER
		WHERE orders.user_id = user.id
	</select>

</mapper>