<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SourceMapper">

    <resultMap id="result" type="Source">
        <!--<result column="s_id" jdbcType="VARCHAR" property="s_id"/>-->
        <!--<result column="dir_id" jdbcType="VARCHAR" property="dir_id"/>-->
        <!--<result column="new_oid" jdbcType="VARCHAR" property="new_oid"/>-->
        <result column="old_oid" jdbcType="VARCHAR" property="old_oid"/>
        <!--<result column="create_time" jdbcType="VARCHAR" property="create_time"/>-->
        <!--<result column="update_time" jdbcType="VARCHAR" property="update_time"/>-->
        <result column="old_update_time" jdbcType="VARCHAR" property="old_update_time"/>
        <!--<result column="check_source" jdbcType="VARCHAR" property="check_source"/>-->
    </resultMap>

    <select id="getSource" resultType="map">
        select old_oid,old_update_time from meta_middle_syncid_source where check_source = 1
    </select>

    <insert id="insertSource" parameterType="Source">
        insert into meta_middle_syncid_source (new_oid,old_oid,create_time,update_time,old_update_time,check_source)
        values (#{new_oid},#{old_oid},#{create_time},#{update_time},#{old_update_time},#{check_source})
    </insert>

    <update id="updateAuthor">
        update meta_middle_syncid_source set new_oid = #{new_oid}  where id = #{id}
    </update>


</mapper>