<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muye.kl.demo.mapper.PersonMapper">
    <resultMap id="userMap" type="com.muye.kl.demo.entity.po.Person">
        <result property="id" column="id"/>
        <result property="addr" column="addr"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="name" column="name"/>
    </resultMap>
    
    <select id="query" resultMap="userMap">
           SELECT * FROM user
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="userMap">
            SELECT * FROM user WHERE  id = #{id}
    </select>

    <insert id="insertBatch">
        insert into user(id,name,age,sex,addr)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.id},
            #{item.name},
            #{item.age},
            #{item.sex},
            #{item.addr}
            )
        </foreach>
    </insert>


</mapper>